
.button {
    cursor: pointer;
    width: 28.7rem;
    height: 8.7rem;
    background-color: var(--buttonColor);
    color: var(--font);
    font-family: var(--east);
    font-size: 3.6rem;
    border-radius: 50rem;
    border: none;
}


.slim {
    width: 27.9rem;
    height: 5.4rem;
    border: none;
}


@media only screen and (max-width: 84.375em) {
    /* 1350px*/

    .button {
        cursor: pointer;
        width: 19.1rem;
        height: 5.8rem;
        font-size: 2.4rem;
    }
    
    
    .slim {
        width: 26.8rem;
        height: 6.3rem;
        font-size: 3.2rem;
    }
}