
.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--normal-padding);
}

.hero__h1-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.hero__h1-wrapper__h1 {
    font-family: var(--roboto);
    font-size: 6.4rem;
    color: var(--font);
    max-width: 108.3rem;
    font-weight: 400;
}

.hero__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 4rem;
    width: 100%;
}

.hero__button-wrapper__img {
    margin-left: -8rem;
    margin-top: -12rem;
}

.hero__h2 {
    font-family: var(--inter);
    font-weight: 400;
    font-size: 4rem;

    max-width: 79.2rem;
    min-height: 14.4rem;

    margin: 6rem auto 9rem;
}