.my-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--secondaryBackground);
    padding: var(--vertical-padding);
}

.my-work__h3 {
    font-family: var(--east);
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 1.3rem;
}

.my-work__specialties {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 3.5rem;
}

.my-work__specialties__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--inter);
}



.my-work__specialties__card--h4 {
    font-weight: 700;
    font-size: 2rem;
    margin: 1.6rem;
}

.my-work__specialties__card--description {
    text-align: center;
    word-break: break-word;
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 25.3rem;
    max-height: 5.4rem;
}

@media only screen and (max-width: 84.375em) {
    /* 1350px*/

    .my-work { padding: var(--vertical-padding-tablet); }

    .my-work__h3 {
        text-align: center;
        font-family: var(--east);
        font-weight: 400;
        font-size: 4rem;
        margin-bottom: 3.3rem;
        max-width: 32.6rem;
        height: 10rem;
    }

    .my-work__specialties {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 12.8rem;
        width: 100%;
        margin-bottom: 5rem;
    }

    .my-work__specialties__card--h4 {
        font-size: 1.8rem;
        margin: 1.5rem;
    }

    .my-work__specialties__card--description {
        font-size: 1.4rem;
        max-height: 5.1rem;
    }

}

@media only screen and (max-width: 37.1875em) {
    /* 595px*/

    .my-work__h3 {
        font-size: 2.4rem;
        margin-bottom: 5rem;
        max-width: 20.8rem;
        height: 6rem;
    }

    .my-work__specialties__card--h4 {
        font-size: 1.4rem;
        margin: 1.5rem;
    }

    .my-work__specialties__card--description {
        font-size: 1.2rem;
        max-height: 4.5rem;
    }

    .my-work__specialties {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 3.5rem;
        width: 100%;
        margin-bottom: 5rem;
    }
}