.how {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--normal-padding);
}

.how__h2 {
    margin-top: 1.7rem;
    font-family: var(--inter);
    font-weight: 600;
    font-size: 4rem;
    color: var(--font);
}

.how__card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;

    align-items: center;
    width: 100%;
    margin-bottom: 12.4rem;
}

.how__card--reverse {
    flex-direction: row-reverse;
}

.how__card__text-container {
    display: flex;
    flex-direction: column;

    font-family: var(--inter);
    color: var(--font);
    gap: .9rem;
    max-width: 59.3rem;
}

.how__card__text-container--question {

    font-weight: 400;
    font-size: 2rem;
    color: var(--steps);
    text-transform: uppercase;
}

.how__card__text-container--step {
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
}

.how__card__text-container--description {
    font-weight: 400;
    font-size: 2rem;
}

@media only screen and (max-width: 84.375em) {
    /* 1350px*/

    .how {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--tablet-padding);
    }

    .how__h2 {
        margin: 3.5rem 0;
        font-size: 3.2rem;
    }

    .how__card { margin-bottom: 3.2rem; }

    .how__card__img {
        width: 100%;
        height: auto;
        max-width: 40.3rem;
        max-height: 25.2rem;
    }

    .how__card__text-container { max-width: 33.8rem; }

    .how__card__text-container--question { font-size: 1.6rem; }

    .how__card__text-container--step { font-size: 3.2rem; }

    .how__card__text-container--description { font-size: 1.6rem; }
}

@media only screen and (max-width: 51.5625em) {
    /* 825px*/
    .how__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        justify-content: space-between;
    
        align-items: center;
        width: 100%;
        margin-bottom: 5rem;
    }

}

@media only screen and (max-width: 29.6875em) {
    /* 475px*/

    .how__h2 { font-size: 1.6rem; }

    .how__card__text-container { max-width: 33rem; }

    .how__card__text-container--question { font-size: 1.4rem; }

    .how__card__text-container--step { font-size: 1.6rem; }

    .how__card__text-container--description { font-size: 1.2rem; }
}

