
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../utils/imgs/footer-background.png");
    background-size: 100% 100%;
    width: 100%;
}

.footer--text {
    font-family: var(--inter);
    text-align: center;
    font-weight: 400;
    font-size: 4rem;
    max-width: 58.4rem;
    margin-top: 25rem;
    margin-bottom: 5.7rem;
}




.footer__whats-app__container {
    display: flex; 
    align-items: center;
    margin-top: 2.6rem;
    margin-bottom: 6.7rem;
}

.footer__whats-app__container--img {
    margin-right: .5rem;
}

.footer__whats-app__container--img {
    font-family: var(--lato);
    font-weight: 700;
    font-size: 1.6rem;
}



@media only screen and (max-width: 84.375em) {

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../../utils/imgs/footer-background-tablet.png");
    }

    .footer--text {
        font-size: 3.6rem;
        max-width: 58.4rem;
        margin-top: 29.5rem;
        margin-bottom: 3rem;
    }

    .footer__whats-app__container {
        display: flex; 
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 28.9rem;
    }

}